<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="KnoWell, Not Only Know. By MickleStudios. Electronics Business Cards.">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KnoWell &mdash; Not Only Know</title>

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/general.css" rel="stylesheet">
    <link href="../assets/css/nav-icon.css" rel="stylesheet">
    <link href="../assets/css/sticky-footer.css" rel="stylesheet">
    
    <script src="../assets/js/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
		    api_key: 75x21kb6ah0nxy
		</script>
		
		<script type="text/javascript">
			
				function retrysigninup(){
					document.getElementById('retry_pass').style.display = 'inherit';
					document.getElementById('retrieve_pass').style.display = 'none';
				}
			
				function retrievepass(){
					$('#emailRetrieve').attr('required');	
					$('#phatomBtnRetrieve').trigger('click');
				}
			
				function switchtoretrieve(){
					document.getElementById('retry_pass').style.display = 'none';
					document.getElementById('retrieve_pass').style.display = 'inherit';
				}
				
				function submitAsSignIn(){				
					$('#email').attr('required');	
					$('#password').attr('required');	
					document.getElementById('signForm').action = '/login';
					$('#phatomBtn').trigger('click');
				}
				
				function submitAsSignUp(){					
					$('#email').attr('required');	
					$('#password').removeAttr('required');
					document.getElementById('signForm').action = '/signup';
					$('#phatomBtn').trigger('click');
				}
						    
		    // Setup an event listener to make an API call once auth is complete
		    function onLinkedInLoad() {
	    		// remove required input file
    			$('#email').removeAttr('required');
					$('#password').removeAttr('required');
	        IN.UI.Authorize().place();
	        IN.Event.on(IN, "auth", getProfileData);
		    }
		
		    // Handle the successful return from the API call
		    function onSuccess(data) {
		       console.log(data);
		    }
		
		    // Handle an error response from the API call
		    function onError(error) {
		        console.log(error);
		    }
		
		    function loadMember(profile){
					member = profile.values[0];
					document.getElementById('signForm').action = '/linkedinSignin';
					console.log(profile);	
					posArray = member.positions.values;
					companyName = "";
					title = "";
					for (var i=0; i<=posArray.length-1; i++) {
						if (posArray[i].isCurrent){
							companyName = posArray[i].company.name;
							title = posArray[i].title;
						}
					}
					document.signForm.linkedinObj.value = member.firstName + ",," + member.lastName + ",," + member.emailAddress + ",," + member.pictureUrl + ",," + member.location.name + ",," + companyName + ",," + title + ",," + member.id + ",," + member.publicProfileUrl;
					console.log(document.signForm.linkedinObj.value);	
					document.getElementById('signForm').submit();
		    }
		
		    // Use the API call wrapper to request the member's basic profile data
		    function getProfileData() {
		       // IN.API.Raw("/people/~").result(onSuccess).error(onError);
		       IN.API.Profile("me").fields(["id","firstName", "lastName", "emailAddress", "pictureUrl", "location", "positions","publicProfileUrl"]).result(loadMember);
		    }
		
		</script>
		
		
		
		<script type="text/javascript">
			$(document).ready(function(){
						var $formRetrieve = $('#retrieveForm');
						$formRetrieve.submit(function(e){
							e.preventDefault();
							$.post($(this).attr('action'), $(this).serialize(), function(response){
								if(response.successful){
									document.getElementById('retrieveHeader').innerHTML = 'Please check your email for instructions to reset password';
									setTimeout(function(){
										window.location.href='dummypage.html';
									}, 3000);
								} else {
									document.getElementById('retrieveHeader').innerHTML = response.msg;
								}
							},'json');
							return false;
						});
					});
		</script>
		
				<style type="text/css">

			.container-card-header {
				min-width: 260px;
				max-width: 260px;
				padding: 10px 0px 10px;
				margin: 0px auto 20px;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
			}

			.container-card {
				max-width: 260px;
				min-height: 250px;
				max-height: 260px;
				padding: 10px 0px 10px;
				margin: 0px auto 20px;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
			}

			.maincard {
				width: 240px;
				vertical-align: top;
				padding: 0 3px 0;
				margin:0px auto 0px;
				background-color: #ffffff;
				overflow: auto
			}

			.toppart{
				display:table-cell;
				width: 230px;
				height: 100px;
				margin: 0 0 0;
				vertical-align: middle;
			}
			.midpart{
				width: 230px;
				margin: 0 0 0;
			}

			.botpart{
				width: 230px;
				height: 100px;
				margin: 0 0 0;
			}

			.botpart p{
				display: inline;
				height: 100px;
				vertical-align: middle;

			}


			.profile {
				float: left;
				width: 100px;
				height: 100px;
				margin: 0px 0 0px;
			}

			.profile_header {
				text-align: center;
				float: middle;
				width: 180px;
				margin: 0px auto 0px;
				padding: 0px 0px 0px;
			}

			.profile img {
				width: 100px;
				height: 100px;
			}

			.toppart .name {
				display:table-cell;
				vertical-align: middle;
				float: right;
				text-align:center;
				margin-left: 10px;
				padding-left: 0px;
				padding-bottom: 0px;
				width: 120px;
				height:100px;
				max-width: 120px;
				max-height: 100px;
				overflow: hidden;
			}

			.toppart p{
				width: 120px;
				height: 100px;
				display:table-cell;
				vertical-align: middle;

			}

			.hr {
				width: 100%;
				margin : 10px 0px 0px;
			}

			.indicator{
				margin: 0px auto 0px;
			}
			
			.inputdiv{
				width: 230px;
				height: 40px;
				margin: 0 0 0;
			}

			.icons {
				float: left;
				margin: 3px 0 0;
				width: 24px;
				height: 24px;
			}
			
			.inputbox{
				float: right;
				width: 195px;
				height: 40px;
			}

			.logo {
				position:absolute;
				width: 50px;
				height: 50px;
				bottom: 10px;
				right: 10px;
			}

			.margintop {
				margin-top: 10px
			}

			.ellipsis {
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 235px;
				overflow: hidden;
			}

		</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand home" href="javascript:void(0)"></a>
        </div>
      </div>
    </nav>
    
    <div id="retry_pass" class="row" style="display: inherit">
	    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4col-lg-offset-4 ">
	    	<div class="container-card-header" id="header_div" style="padding: 10px;">
					<!-- The actual button has to be placed inside <form></form> wrapper or IE doesn't honor it -->
					<div class="profile_header">
						<p style="margin: 0 0 0;"><b><%= msg %></b></p>
					</div>
				</div>
				<div class="container-card-header">
					<form id="signForm" class="maincard" action='/login' method='POST'>
						<h4 id="saveHeader" class="profile_header">Please try again</h4>
						<div class="midpart" style="margin: 0 0 20px">
							<hr class= "hr">
						</div>
						<div class="inputdiv">
								<img src="../assets/img/mail.png" class="icons">
								<div class="inputbox">
									<input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
								</div>
						</div>
						<div class="inputdiv" style="margin: 0 0 10px">
							<div class="icons">
								<img src="../assets/img/lock.png" class="icons">
							</div>
							<div class="inputbox">
								<input id="password" name="password" id="password" type="password" class="form-control" placeholder="Password" required>
							</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrf_field %>" style="display: none;"/>
						<input type="hidden" name="linkedinObj" value=""  style="display: none;"/>
						<button id="phatomBtn" type="submit" class="btn btn-success" style="display: none;">Phatom</button>
						<button type="button" class="btn btn-success btn-block" onclick="javascript:submitAsSignIn()">Sign in</button>
						<button type="button" class="btn btn-warning btn-block" onclick="javascript:submitAsSignUp()">Sign Up</button>
						<div class="midpart" style="margin: 20px 0 10px">
							<hr class= "hr">
						</div>
						<p style="margin: 0 0 0;"><small style="padding: 0 10px 0; color: #000000">Or, SignIn with</small><a href="javascript:onLinkedInLoad();"><img id="linkedinBtn" src="../assets/img/linkedin_mini.png" style="width: 30px; height: 30px"></a></p>
					</form>
				</div>
				<div class="container-card-header" id="header_div" style="padding: 10px;">
					<!-- The actual button has to be placed inside <form></form> wrapper or IE doesn't honor it -->
					<div class="profile_header">
						<a style="margin: 0 0 0;" href="javascript:switchtoretrieve();">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="retrieve_pass" class="row" style="display: none">
	    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4col-lg-offset-4 ">
				<div class="container-card-header">
					<form id="retrieveForm" class="maincard" action='/retrievepass' method='POST'>
						<h5 id="retrieveHeader" class="profile_header">Please enter the email address you use to sign in.</h5>
						<div class="midpart" style="margin: 0 0 20px">
							<hr class= "hr">
						</div>
						<div class="inputdiv" style="margin-bottom: 10px">
								<img src="../assets/img/mail.png" class="icons">
								<div class="inputbox">
									<input id="emailRetrieve" name="email" type="email" class="form-control" placeholder="Email" required>
								</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrf_field %>" style="display: none;"/>
						<input type="hidden" name="linkedinObj" value=""  style="display: none;"/>
						<button id="phatomBtnRetrieve" type="submit" class="btn btn-success" style="display: none;">Phatom</button>
						<button type="button" class="btn btn-success btn-block" onclick="javascript:retrievepass()">Retrive My Password</button>		
						<button type="button" class="btn btn-default btn-block" onclick="javascript:retrysigninup()">Retry Signin/Signup</button>				
					</form>
				</div>
			</div>
		</div>
		



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../dist/js/bootstrap.min.js"></script>
  </body>
</html>
