<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>KnoWell &mdash; Not Only Know</title>

		<!-- Bootstrap core CSS -->
		<link href="../dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/css/jumbotron.css" rel="stylesheet">
		<link href="../assets/css/nav-icon.css" rel="stylesheet">
		<link href="../assets/css/sticky-footer.css" rel="stylesheet">

		<script type="text/javascript" src="https://platform.linkedin.com/in.js">
			api_key: 75x21kb6ah0nxy
		</script>

		<script type="text/javascript">
			function submitAsSignIn(){
				$('#email').attr('required');
				$('#password').attr('required');
				document.getElementById('signForm').action = '/login';
				$('#phatomBtn').trigger('click');
			}

			function submitAsSignUp(){
				$('#email').attr('required');
				$('#password').removeAttr('required');
				document.getElementById('signForm').action = '/signup';
				$('#phatomBtn').trigger('click');
			}

			// Setup an event listener to make an API call once auth is complete
			function onLinkedInLoad() {
				// remove required input file
				$('#email').removeAttr('required');
				$('#password').removeAttr('required');
				IN.UI.Authorize().place();
				IN.Event.on(IN, "auth", getProfileData);
			}

			// Handle the successful return from the API call
			function onSuccess(data) {
				console.log(data);
			}

			// Handle an error response from the API call
			function onError(error) {
				console.log(error);
			}

			function loadMember(profile){
				member = profile.values[0];
				document.getElementById('signForm').action = '/linkedinSignin';
				console.log(profile);
				posArray = member.positions.values;
				companyName = "";
				title = "";
				for (var i=0; i<=posArray.length-1; i++) {
					if (posArray[i].isCurrent){
						companyName = posArray[i].company.name;
						title = posArray[i].title;
					}
				}
				document.signForm.linkedinObj.value = member.firstName + ",," + member.lastName + ",," + member.emailAddress + ",," + member.pictureUrl + ",," + member.location.name + ",," + companyName + ",," + title + ",," + member.id + ",," + member.publicProfileUrl;
				console.log(document.signForm.linkedinObj.value);
				document.getElementById('signForm').submit();
			}

			// Use the API call wrapper to request the member's basic profile data
			function getProfileData() {
				// IN.API.Raw("/people/~").result(onSuccess).error(onError);
				IN.API.Profile("me").fields(["id","firstName", "lastName", "emailAddress", "pictureUrl", "location", "positions","publicProfileUrl"]).result(loadMember);
			}

		</script>

	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand home" href="javascript:void(0)"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" id="signForm" name="signForm" action='/login' method='POST'>
						<div class="form-group">
							<input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
						</div>
						<div class="form-group">
							<input id="password" name="password" id="password" type="password" class="form-control" placeholder="Password" required>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrf_field %>" style="display: none;"/>
						<input type="hidden" name="linkedinObj" value=""  style="display: none;"/>
						<button id="phatomBtn" type="submit" class="btn btn-success" style="display: none;">Phatom</button>
						<button type="button" class="btn btn-success" onclick="javascript:submitAsSignIn()">Sign in</button>
						<button type="button" class="btn btn-warning" onclick="javascript:submitAsSignUp()">Sign Up</button>
						<!-- <small style="padding: 0 10px 0; color: #ffffff">Or </small><a href="javascript:onLinkedInLoad();"><img id="linkedinBtn" src="../assets/img/linkedin_mini.png" style="width: 30px; height: 30px"></a> -->
					</form>
				</div><!--/.navbar-collapse -->
			</div>
		</nav>

		<div class="jumbotron" style="margin: 0 0 0; background: #0064c8">
			<div class="container">
				<div class="row">
					<div class="col-md-12" style="margin: 160px auto 100px">
						<font color="#ffffff"><h1 style="text-align: center;"><b>Not Only Know, KnoWell</b></h1></font>
						<a href="https://play.google.com/apps/testing/com.micklestudios.knowells"><img class="media-object img-responsive" src="../assets/img/play_store_logo.png" alt="..."  style="margin: 100px auto 10px; height:60px"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron" style="margin: 0 0 0; padding-bottom: 0px; background: #f19a1b">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><h1>Connect Instantly</h1></font>

					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><p>Step 1: Scan QR code. <br>Step 2: Save it. <br>Step 3: There is no Step 3!</p></font>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="media-object img-responsive" src="../assets/img/scan.JPG" alt="...">
					</div>

				</div>
				

			</div>
		</div>

		<div class="jumbotron" style="margin: 0 0 0; padding-bottom: 0px; background: #00b0f0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><h1>Reach out<br>Anywhere, anytime</h1></font>

					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><p>Send your documents on the go, right away</p></font>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="media-object img-responsive" src="../assets/img/share.JPG" alt="...">
					</div>

				</div>
				

			</div>
		</div>
		
		<div class="jumbotron" style="margin: 0 0 0; padding-bottom: 0px; background: #e74c3c">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><h1>Know Well</h1></h1></font>

					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><p>Now you have a good chance hearing back "Yes, I remember you!"</p></font>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="media-object img-responsive" src="../assets/img/notes.JPG" alt="...">
					</div>

				</div>
				

			</div>
		</div>
		
		<div class="jumbotron" style="margin: 0 0 0; padding-bottom: 0px; background: #00b050">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><h1>Stay Organized</h1></font>

					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<font color="#ffffff"><p>Never get lost in piles of business cards</p></font>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="media-object img-responsive" src="../assets/img/search.JPG" alt="...">
					</div>

				</div>
				

			</div>
		</div>



		<footer class="footer">
			<div class="container text-center">
				<p style="color: #2196F3; padding-top:20px">&copy; MickleStudios.com 2015. All Rights Reserved.</p>
				<a href="https://play.google.com/apps/testing/com.micklestudios.knowells"><img class="media-object img-responsive" src="../assets/img/play_store_logo.png" alt="..."  style="margin: 0px auto 20px; height:40px"></a>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../dist/js/bootstrap.min.js"></script>
	</body>
</html>
